@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap');


h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}

h4, h5, h6, p, a, div {
    font-family: 'Manrope', sans-serif;
}

#navbar{
    transition: 0.4s;

}
#navbar #logo {
    transition: 0.4s;
  }

a {
    transition: .8s;
}

@media screen and (max-width: 580px) {
    #navbar {
        background-color:rgba(234, 179, 8, 1) !important;
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
  }

.circle{
    width: 60rem;
    height: 35rem;
    z-index: -1;
    background: linear-gradient(to bottom, #ffcc00 , #978d0a9f );
    filter: blur(120px);
    position: absolute;

}

.hayt {
    width: 100%;
    height: 700px;
    object-fit: scale-down;
}

.cont {
    position: relative;
    margin-left: 10px;
}

.img-pop:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #FCF4B6;
}

.img-devs:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.offwhite {
    color: #F9F5EE;
}

.black {
    color: #212020;
}

.grayblack {
    color: #2B2925;
}

/* Background color variants */
.bg-offwhite {
    background-color: #F9F5EE;
}

.bg-black {
    background-color: #212020;
}

.bg-grayblack {
    background-color: #2B2925;
}

/* Border color variants */
.border-offwhite {
    border-color: #F9F5EE;
}

.border-black {
    border-color: #212020;
}

.border-grayblack {
    border-color: #2B2925;
}


















